# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
__MACOSX/
.idea/
migrations/
instance/
# Logs
logs/

# Temporary files
*.log
*.pot
*.pyc

# Environment variables
.env
